/* #F0F7EE menta     
   #5D737E gris
   #87BBA2 acua
   #FFF07C amarillo

*/
@font-face {
    font-family: Agrandir-TextBold;
    src: url(./Fuentes/Agrandir-TextBold.otf);


}
@font-face {
    font-family: Agrandir-Regular;
    src: url(./Fuentes/Agrandir-Regular.otf);
}

@font-face {
    font-family: Agrandir-Narrow;
    src: url(./Fuentes/Agrandir-Narrow.otf);
}

$menta: #F0F7EE;
$azul: #172A3A;
$acua: #104F55;
$redondo: 10px;


body { 
    background-color:  $menta !important;
    font-family: Agrandir-Regular;
    
}



.navbar  { 
    background-color:  #ccd4dc !important
}

.nav-link { 
    color: $azul  !important;
    transition: 0.3s;
}

.nav-link:hover { 
    color:  $azul !important;
    background-color: #d5d9db ;
    border-radius: 5px;
    opacity:1;
    transform: scale(1.1);
    transition: 0.3s;
}
    
.jombotron p  { 
    color:  $azul !important;
    font-size: 25px;

}

h3 { 
        color:  #58646e !important;
        }

h5 { 
        color:  $azul !important;
        font-size: 18px;
        font-weight: bold;
        
        
        }

        

.imgPrincipal  {
        border-radius: $redondo !important;
    }
@media (min-width: 500px) {
        .imgPrincipal {
            border-radius: $redondo !important;
            max-width: 500px;
            width: 100%;
        }
    }
.logo { 
        font-size: 60px;
        color:#3a4e5e

    }
.feat { 
    text-align: center !important; 

}
footer { 
    background-color: $azul !important;
    min-width:10%;
    color: $menta;
    text-align: center;


}

h4 { 
    color: white;
    text-align: center;
    

}
.redes  { 
    color: $menta;
    font-size: 30px;
    letter-spacing: $redondo;

}  

.Logo2  {
    color: #58646e;
    font-size: 50px;
    
}

span  { 
    color: $menta;
    font-size: 30px !important;
    padding-left: $redondo;
    
} 
.servicios  { 

    transition: 0.3s;
    background-color: #e5ebe4;
    border-radius: 15px;    
    
}
    
    .servicios:hover  { 
        background-color:#d5d9db;
        border-radius: 15px;
        transform: scale(1.02);
        transition: 0.3s;
} 
.boton { 
    background-color:#e5ebe4 ;
    color: $azul;
}

.boton:hover { 
    background-color:#26455e ;
    color: $menta
}
.boton2 { 
    background-color:#d5d9db ;
    color: $azul;

}
.boton2:hover { 
    background-color:#26455e ;
    color: $menta;
}

.boxLogo2{
    background-color: #e5ebe4;
}


.tarifa{
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}
strong {
    font-weight: bold;
    color: #58646e;
  }

  .strong2 {
    font-weight: bold;
    color: $azul;
  }

  .descuentos {
    font-size: 50px;
    font-weight: bold;
    color: #82D4BB;
  }

  .descuentos1 {
    font-size: 50px;
    font-weight: bold;
    color: #82C09A;
  }

  .descuentos2 {
    font-size: 50px;
    font-weight: bold;
    color: #82AC9F;
  }

  .descuentos3 {
    font-size: 50px;
    font-weight: bold;
    color: #829298;
  }
  .descuentos4 {
    font-size: 50px;
    font-weight: bold;
    color: #94778B;
  }
  .descuentos5 {
    font-size: 50px;
    font-weight: bold;
    color: #89555f;
  }

  .ParrafoImg{
    color: $menta;
  }

.altura{
    max-height: 380px;
    width: 100%;
    object-fit: cover;
}
.altura2{
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}
.precio {
    color: #82AC9F;
}